.articleCardIM a {
  text-decoration: none;
  color: rgb(9, 6, 23);
  margin: 30px;

  display: block;
  /*background-color: rgb(168, 188, 188);
  padding: 10px;*/
}

.articleCardIM a:hover {
  color: rgb(140, 119, 156);
  font-weight: bold;
  transform: scale(1.025);
  transition: 0.2s;
}

.articleCardIM {
  background-color: whitesmoke;
  position: center;
  margin: 30px 50px 100px 50px;
  padding: 20px 50px 30px 50px;
  width: 90vw;
  max-width: 1000px;
  height: auto;
  text-align: center;
  /*background-image: url("../../../public/raamatuhunnik.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;*/
}

.bookCover {
  width: 20vw;
  float: right;
  margin-right: 10px;
  margin-left: 10px;
}

.bookText {
  text-align: justify;
}

.bookLine {
  width: 100%;
  height: 1px;
  background-color: black;
  margin-top: 20px;
}

.underTheLineText {
  text-align: left;
  font-style: italic;
  font-size: 10pt;
}

#hepatiidijoonis {
  width: 90%;
}

.articleCardIM.lingid {
  max-width: 800px;
  text-align: left;
  font-size: 18px;
}

.articleCardIM.pdfArticle {
  background-color: rgb(140, 119, 156, 0);
  text-align: center;
}

.articleCardIM.pdfArticle h3 {
  margin-bottom: 20px;
}

.videoContainer {
  justify-content: center;
  text-align: center;
  position: relative;
  width: 100%;
  padding-top: 50%;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 85%;
  text-align: center;
}

.videoText {
  font-size: 14pt;
}

.infoImg {
  width: 250px;
}

.containerArticle {
  justify-content: center;
  width: 100%;
  padding: 0px 0px 0px 0px;
}

.pdfImage {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .articleCardIM.pdfArticle {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    width: 100vw;
  }
  #hepatiidijoonis {
    width: 100%;
  }
}

.articleDate {
  font-style: italic;
  margin-bottom: 0;
  text-align: left;
  margin-bottom: 5px;
  color: rgba(0, 0, 0, 0.9);
  font-weight: 500;
}
