.bgImg {
  background-image: url("../public/mainBG.jpg");
  /* Full height */
  height: 100vh;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.pageImgContainer {
  display: flex;
  justify-content: center;
}

.pageImg {
  max-width: 1440px;
  width: 100%;
  justify-self: center;
  margin-top: 50px;
}

.link {
  text-decoration: none;
}

.footerBtn {
  text-decoration: none;
  color: white;
}

.footer {
  width: 100%;
  height: 40px;
  position: fixed;
  /* background-color: #f1eaea; */
  left: 0;
  bottom: 0;
  color: black;
  justify-content: center;
  background-color: rgb(183, 195, 199);
}

.footerHome {
  width: 100%;
  height: 40px;
  position: fixed;
  /* background-color: #f1eaea; */
  left: 0;
  bottom: 0;
  color: black;
  justify-content: center;
  background-color: rgb(183, 195, 199, 0.7);
}

.footerBtnList {
  justify-content: space-evenly;
  padding-top: 10px;
  text-align: center;
}

.footerBtn:hover {
  color: rgb(60, 60, 73);
}

.containerArticle {
  display: flex;
  justify-content: center;
}

.articleCard {
  width: 80%;
  padding: 20px 30px;
  text-align: center;
  max-width: 800px;
  background-color: whitesmoke;
  opacity: 80%;
  position: center;
  margin: 20px 50px 100px 50px;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 150px;
}

.card {
  background: white;
  width: 300px;
  justify-content: center;
  border-radius: 5px;
  margin: 10px;
  text-align: center;
  padding: 10px;
}

.cardText {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.cardText .loeEdasi {
}

/*.card:hover {
  transform: scale(1.025);
  transition: 0.5s;
  cursor: pointer;
}*/

.artTitle {
  font-size: 16pt;
  font-weight: bolder;
  margin: 20px;
  margin-bottom: 20px;
}

.artText {
  text-align: justify;
  margin: 20px;
}

.artPrevText {
  font-size: 12pt;
}

/* .card-image {
  background-color: rgb(174, 193, 209);
  height: 150px;
  margin-bottom: 15px;
  background-size: cover;
  border-radius: 5px;
} */

.card a {
  text-decoration: none;
  color: black;
}

.card title {
  padding: 10px;
}

.card p {
  padding: 10px;
}

.card .loeEdasi {
  color: black;
  text-decoration: none;
  background-color: rgb(174, 193, 209);
  padding: 15px 20px;
  display: block;
  margin: 20px 50px;
}

.containerHome {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.cardHome {
  width: 500px;
  position: absolute;
  margin-top: 50px;
  max-width: 700px;
  width: 95%;
  position: center;
  color: white;
  padding: 20px 30px;
  background-color: rgba(88, 101, 110, 0.5);
}

.langBut {
  margin: 15px;
  margin-bottom: 10px;
  padding: 3px 7px;
  border-style: none;
  border-radius: 5px;
  font-weight: bolder;
  background-color: rgb(174, 193, 209, 0.8);
  color: rgb(255, 255, 255);
}

.langBut:hover {
  background-color: rgb(174, 193, 209);
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.langButtons {
  z-index: 5;
}

.homePageTitle {
  color: white;
  font-size: 50px;
  margin-top: 70px;
}

h1 {
  text-align: center;
  justify-self: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.homepageBigname {
  width: 100%;
  background-color: rgb(183, 195, 199, 0.7);
  text-align: center;
  font-size: 50px;
}

.homepageBigtext {
  padding-top: 90px;
  padding-bottom: 30px;
  color: white;
}

* {
  font-family: "oxygen";
}

.liikmeavaldus {
  padding: 10px;
  font-size: 12pt;
  background-color: rgb(177, 182, 192);
  color: white;
  border-radius: 5px;
  border-style: none;
  font-weight: bold;
}

.liikmeavaldus:hover {
  background-color: rgb(144, 150, 164);
  cursor: pointer;
}

li {
  list-style: none;
}
