.bgImg {
  /* Set rules to fill background */
  min-height: 100%;
  /* min-width: 1024px; */

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  display: block;
  margin-left: auto;
  margin-right: auto;

  max-width: 1440px;
  min-width: 1440px;
}

.navbarHome {
  width: 100%;
  height: 190px;
  background-color: #c4c4c4;
  opacity: 60%;
  font-family: "arial";
  color: black;
  font-size: 16;
  position: fixed;
  left: 0;
  top: 0;
  justify-content: center;
}

.navbarBtnList {
  display: flex;
  justify-content: space-evenly;
  padding-top: 17px;
  position: center;
  opacity: 100%;
}

.homePageTitle {
  color: white;
  font-size: 50px;
  margin-top: 70px;
}

.navbarPage {
  width: 100%;
  height: 50px;
  background-color: #f1eaea;
  font-family: "arial";
  color: black;
  font-size: 16;
  position: fixed;
  left: 0;
  top: 0;
}

.pageImg {
  max-width: 1440px;
  width: 100%;
}

.navbarBtnListPage {
  display: flex;
  justify-content: space-evenly;
  padding-top: 17px;
  position: center;
}

.navbarBtn {
  margin: 0px 25px;
  color: black;
  text-decoration: none;
}

.link {
  text-decoration: none;
}

.navbarBtn:hover {
  transition: 0.5s;
  transform: scale(1.1);
}

.navName {
  color: #9d9a9a;
}

.footer {
  width: 100%;
  height: 40px;
  position: fixed;
  /* background-color: #f1eaea; */
  left: 0;
  bottom: 0;
  color: black;
  justify-content: center;
  background-color: #c4c4c4;
  opacity: 60%;
}

.footerBtnList {
  justify-content: space-evenly;
  padding-top: 10px;
  text-align: center;
}

.containerArticle {
  display: flex;
  justify-content: center;
}

.articleCard {
  width: 80%;
  padding: 20px 30px;
  text-align: center;
  max-width: 800px;
  background-color: whitesmoke;
  opacity: 80%;
  position: center;
  margin: 20px 50px 100px 50px;
  justify-content: center;
}

.homeText {
  position: fixed;
  margin-top: 200px;
  max-width: 800px;
  width: 80%;
  position: center;
  color: white;
  padding: 30px 50px;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 150px;
}

.card {
  background: white;
  width: 300px;
  justify-content: center;
  border-radius: 5px;
  margin: 10px;
  text-align: center;
}

.card:hover {
  transform: scale(1.1);
  transition: 0.5s;
  cursor: pointer;
}

/* .card-image {
  background-color: rgb(174, 193, 209);
  height: 150px;
  margin-bottom: 15px;
  background-size: cover;
  border-radius: 5px;
} */

.card title {
  padding: 10px;
}

.card p {
  padding: 10px;
}

.card a {
  color: black;
  text-decoration: none;
  background-color: rgb(174, 193, 209);
  padding: 15px 20px;
  display: block;
  margin: 20px 50px;
}

.containerHome {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.cardHome {
  width: 500px;
  margin: 30px 20px;
}

h1 {
  text-align: center;
  justify-self: center;
}
